In [2]:
# Importing libraries for gathering data and visualization
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
import seaborn as sns

yf.pdr_override()

- The selected stocks are from the Korean stock market
- The theme for the selection focuses on battery suppliers

Investment Portfolio:
|Count|종목명|종목코드|Listing|
|---|---|---|---|
|1|POSCO홀딩스|005490|코스피|
|2|나노신소재|121600|코스닥|
|3|LG화학|051910|코스피|
|4|에코프로비엠|247540|코스닥|
|5|천보|278280|코스닥|
|6|삼성SDI|006400|코스피|
|7|코스모화학|005420|코스피|
|8|엠플러스|259630|코스닥|
|9|에이에프더블류|312610|코스닥|
|10|후성|093370|코스피|

In [22]:
# Gathering data
tickers = {'POSCO홀딩스': '005490.KS',
 '나노신소재': '121600.KQ',
 'LG화학': '051910.KS',
 '에코프로비엠': '247540.KQ',
 '천보': '278280.KQ',
 '삼성SDI': '006400.KS',
 '코스모화학': '005420.KS',
 '엠플러스': '259630.KQ',
 '에이에프더블류': '312610.KQ',
 '후성': '093370.KS'}

stock_data = pdr.DataReader(list(tickers.values()), start='2020-06-01', end='2023-05-31')

[*********************100%***********************]  10 of 10 completed

In [27]:
stock_data[[('Adj Close', s) for s in tickers.values()]]

                Adj Close                                              \
                005490.KS      121600.KQ     051910.KS      247540.KQ
Date
2020-06-01  159678.781250   16748.148438  377598.50000   29663.023438
2020-06-02  165365.968750   16349.381836  376644.96875   29439.056641
2020-06-03  177177.828125   15900.771484  381889.43750   28344.113281
2020-06-04  177615.343750   16698.302734  398099.43750   29289.746094
2020-06-05  175427.921875   16449.074219  413832.71875   29488.828125
...                   ...            ...           ...            ...
2023-05-23  377000.000000  135200.000000  719000.00000  243500.000000
2023-05-24  371000.000000  134800.000000  720000.00000  246000.000000
2023-05-25  365000.000000  133000.000000  712000.00000  243500.000000
2023-05-26  360500.000000  131100.000000  706000.00000  238000.000000
2023-05-30  363000.000000  132800.000000  702000.00000  239000.000000

                                                                               \
                278280.KQ     006400.KS     005420.KS     259630.KQ 312610.KQ
Date
2020-06-01   93605.234375  364181.90625   7768.067383  10474.100586    7100.0
2020-06-02   91509.593750  368162.03125   7724.328613  10474.100586    7000.0
2020-06-03   87118.734375  364181.90625   7698.084961  10052.158203    6825.0
2020-06-04   88116.656250  368659.59375   7925.528320  10052.158203    7000.0
2020-06-05   89813.125000  369654.59375   7864.293457  10027.337891    6800.0
...                   ...           ...           ...           ...       ...
2023-05-23  190200.000000  710000.00000  51300.000000  11710.000000    4550.0
2023-05-24  190000.000000  714000.00000  53000.000000  11500.000000    4490.0
2023-05-25  186100.000000  700000.00000  50200.000000  11900.000000    4495.0
2023-05-26  184200.000000  693000.00000  49700.000000  11960.000000    4300.0
2023-05-30  189500.000000  718000.00000  48550.000000  11840.000000    4250.0


               093370.KS
Date
2020-06-01   8100.364746
2020-06-02   8359.735352
2020-06-03   8269.953125
2020-06-04   8429.566406
2020-06-05   8659.010742
...                  ...
2023-05-23  13230.000000
2023-05-24  13240.000000
2023-05-25  13050.000000
2023-05-26  12990.000000
2023-05-30  14050.000000

[740 rows x 10 columns]